$card_border_p: #3e3e3e;
$black: #000000;
$white: #ffffff;
$responsive_card_bg: #edf8ff;
$see_all_btn: #085791;
$dialog_box_shadow: rgba(0, 0, 0, 0.3);
$dialog_backdrop_color: rgba(0, 0, 0, 0.2);
$dialog_bg_color: rgba(0, 0, 0, 0);
$mainPadding: clamp(16px, calc(7.91vw - 14.83px), 160px);
$headerBackgroundColor: #4390c9;
$darkBlue: #085791;
$title_underline: #D2EBFE;
$places_title: #3E3E3E;
$description_bg: #D2EBFE;
$info_bg: #F2FAFF;
$copyFeedback_bg: #d1d1d1;
$card_bg: #ffffff;
$search_border: #085791;